{% extends 'mainApp/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <h1>Welcome to Technically Addicted Inc.</h1>
    <hr class="mt-0 mb-4">
    <h5>About us</h5>
    <p>At Technically Addicted Inc. we are passionate about providing the latest and highest quality computer parts and components to technology enthusiasts, gamers, and professionals. With a commitment to exceptional customer service and a wide selection of top-notch products, we strive to be your go-to destination for all your computing needs.</p>
    <h5>Quality and Selection</h5>
    <p>We understand that technology evolves rapidly, and staying up to date with the latest advancements can be overwhelming. That's why we handpick each product in our inventory, partnering with leading manufacturers and trusted suppliers. Whether you're looking for a powerful processor, a high-performance graphics card, or a reliable storage solution, we have you covered. Our extensive range of products spans multiple categories, ensuring that you find exactly what you need to build, upgrade, or enhance your system.</p>
    <h5>Exceptional Service</h5>
    <p>At Technically Addicted Inc. we believe that exceptional service goes hand in hand with exceptional products. Our dedicated team of experts is passionate about technology and is here to provide you with personalized assistance every step of the way. Whether you need advice on compatibility, help with troubleshooting, or guidance in choosing the right components for your specific needs, we are just a phone call, email, or live chat away. Your satisfaction is our priority, and we are committed to making your shopping experience smooth, enjoyable, and hassle-free.</p>
    <h5>Join us</h5>
    <p>We invite you to explore our store, browse through our wide selection of products, and experience the TechHub difference. Whether you're a seasoned professional, a passionate gamer, or a first-time builder, we are here to assist you in achieving your computing goals.</p>
    <p class="font-weight-bold">Thank you for choosing TechHub as your trusted partner in all things technology.</p>
    <p class="font-weight-bold">The Technically Addicted Inc. Team</p>
{% endblock %}